NEXT_PUBLIC_BASE_URL="http://127.0.0.1:3000"
NEXT_PUBLIC_ALGOLIA_APP_ID=""
NEXT_PUBLIC_ALGOLIA_SEARCH_KEY=""
ALGOLIA_ADMIN_KEY=""
PRISMIC_REPO_NAME=""
PRISMIC_MASTER_ACCESS_TOKEN=""
PRISMIC_WEBHOOK_SECRET=""
MAIL_TO=""
MAIL_FROM=""
SMTP_USERNAME=""
SMTP_PASSWORD=""
SMTP_HOST=""
SMTP_PORT=""
NEXT_PUBLIC_RECAPTCHA_KEY=""
RECAPTHA_SECRET_KEY=""
PIXEL_ID=""
CAPI_ACCESS_TOKEN=""
CAPI_TEST_CODE=""
