@use '@/styles/mixins';
@use '@/styles/variables';
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include mixins.fluid(
    gap,
    variables.$grid-gutter-mobile / 2,
    variables.$grid-gutter-tablet / 2,
    variables.$grid-gutter / 2
  );
  @include mixins.fluid(
    (margin-top, margin-bottom),
    variables.$grid-gutter-mobile,
    variables.$grid-gutter-tablet,
    variables.$grid-gutter
  );
}
